.topArea {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
    z-index: 100;
    background-color:black;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 50px;
    border-radius: 5px;
  }

.topArea p{
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    color: white;
    place-self: center left;
    padding: 0px 0px 0px 50px;
}

label{
  color: white;
  place-self: center
}

  
  @media only screen and (max-width: 600px) {
    .topArea{
      grid-template-columns: auto auto auto;
    }
    .topArea p{
        font-size: 15px;
        padding: 0px 0px 0px 20px;
        margin: 0px;
    }.searchBox{
      font-size: 0.75em;
      color:green;
      font-weight: bold;
      width:auto;
      height:30px;
      border-radius: 5px; 
      margin: 0px 20px 0px 20px;
      place-self: center stretch;
  }
    
  }

.searchBox{
    font-size: 0.75em;
    color:black;
    font-weight: bold;
    width:auto;
    height:30px;
    border-radius: 5px; 
    place-self: center stretch;
    margin: 0px 20px 0px 500px;
}

@media only screen and (max-width: 900px) {

    .searchBox{
        font-size: 0.75em;
        color:green;
        font-weight: bold;
        width:auto;
        height:30px;
        border-radius: 5px; 
        margin: 0px 20px 0px 100px;
        place-self: center stretch;
    }
  }


/*
.active:focus { color: red; }

.active:focus-within { color: red; }

.active:active{
    color: yellow;
}
*/